@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


header{   /*NEW start*/
    background: url(/images/Logo_klein3.png);
    background-repeat: no-repeat;
    background-position:25% 20%;
    background-size: contain;
    
    /*NEW end*/
    
    position: fixed;
    
    padding-left: 350px;
    padding-right: 350px;
    width: 100%;
    height: 100px;    
    max-width: 100%;
    max-height: 100%;   
    color:#ffffff;    
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    font-family: 'Lato', sans-serif;    
    overflow: hidden;
    background-color: rgba(0,0,0,0.80)!important;
}

header a{
    color: #ffffff;    
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;        
}

header-brand{
   
    
}

header ul{
    
}

header li{    
    float: left;
    display: inline;
    margin: 0 40px 0 20px;
    margin-top: 7.5px;
    padding-top: 7.5px;
}

header #branding{ 
    position: fixed;
    float:left;
    margin-top: -8.5px;
    padding-top: 0px;
    padding-bottom: 30px;
}

/*-- nicht in verwendung da Logo verwendet wird! --
header #branding h1{
    margin-top: 0px;
    padding-top: 0px;
}*/

header nav{
    padding-top: 20px;
    float: right;    
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight: bold;
}

/* Hover */
header a:hover{
    color:#e8491d;  
    font-weight: bold;
    transition: 0.25s;
}

ul:hover li a
{
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

ul li a:hover
{            
    transform: scale(2);
    opacity: 1;
    filter: blur(0);    
}

/* ende Hover */

.form-control{
    margin: 15px;
    position: center;
    text-align: left;
    margin: 0 auto;
    padding-top: 5px;
    width: 25%;     
}

.container{
    
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
    text-align:center;
    height: 100%;
    padding-bottom: 20px;
    font-family: sans-serif;   
    margin-bottom: 5px;
}

/* Bmi Rechner Anfang */
.weight{
    
    margin-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;        
    text-align: center;
    height: 80%;    
    padding-bottom: 10px;
    font-family: sans-serif;   
    margin-bottom: 5px;     
}

/* Bmi Rechner Ende */


/* Body */
body {    
    margin: 0px;
    padding: 0px;
    justify-content: center;
    }


/* unused
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
unused ende */ 

.footer {    
    height: 50px;   
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#ffffff;
    background-color: #e8491d;
    color: white;
    text-align: center;      
}