@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

header{   
    position: fixed;    
    background: url(/images/Logo_klein3.png);
    background-repeat: no-repeat;
    background-position:22% 18%;
    background-size: contain;  
    padding-left: 320px;
    padding-right: 300px;
    width: 100%;
    height: 100px;    
    max-width: 100%;
    max-height: 100%;   
    color:#ffffff;    
    min-height: 70px;
    border-bottom: #e8491d 3.5px solid;
    font-family: 'Lato', sans-serif;    
    overflow: hidden;
    background-color: rgba(0,0,0,0.80)!important;
}


header a{
    color: #ffffff;    
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;        
}

header-brand{
   
    
}

header ul{
    
}

header li{    
    float: left;
    display: inline;
    margin: 0px 30px 0 20px;
    margin-top: 7.5px;
    padding-top: 7.5px;   
}

header #branding{ 
    position: fixed;
    float:left;
    margin-top: -8.5px;
    padding-top: 0px;
    padding-bottom: 30px;
}

/*-- nicht in verwendung da ein Header Logo verwendet wird! --
header #branding h1{
    margin-top: 0px;
    padding-top: 0px;
}*/

header nav{
    padding-top: 20px;
    float: right;    
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight: bold;
}

/* Hover */
header a:hover{
    color:#e8491d;  
    font-weight: bold;
    transition: 0.25s;
}

ul:hover li a
{
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

ul li a:hover
{            
    transform: scale(2);
    opacity: 1;
    filter: blur(0);    
}
/* ende Hover */

.form-control{
    margin: 15px;
    position: center;
    text-align: left;
    margin: 0 auto;
    padding-top: 5px;
    width: 27%;     
    }

.container{
    color:white;
    font-family: sans-serif; 
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
    text-align:center;
    height: 100%;
    padding-bottom: 20px;      
    margin-bottom: 5px;
}

/* Bmi Rechner Anfang */
.weight{  
    font-family: sans-serif;
    color:white;
    font-size: 18px; 
    margin-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;   
    padding-bottom: 10px;
    text-align: center;
    height: 80%;     
}
/* Bmi Rechner Ende */

.buttons > div {
	width: calc(50% - 40px);
	padding: 20px;
	float: left;
	position: fixed;
	bottom: 0;
	top: 0;
}
.buttons .dark {
	background: #000;
	left: 50%;
}
.buttons a {
	float: left; 
	margin-right: 20px;
  margin-bottom: 20px;
}
a#link {position: absolute; left: 20px; bottom: 10px; text-decoration: none; color: #555; font-weight: bold;}
/*------------------------------------------------------*/
/* BUTTONS */
/*------------------------------------------------------*/
.btn,
input[type="submit"]{
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn:hover,
input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.btn-dark,
input[type="submit"]{
    border:solid 2px #1f1f1f;
    background: transparent;
    color: #1f1f1f;
}
.btn-dark:hover,
input[type="submit"]:hover,
.btn-dark.active{
    border:solid 2px #1f1f1f;
    background: #1f1f1f;
    color: #fff;
}

.btn-color{
    background: transparent;
}
.btn-color:hover{
    color: #fff;
}


/* Body */
body {     
  background: url(/images/Bike.Jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   
    }
    
.bmi {
    padding-top: 25px;
    width:auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    }

    
    

/* unused
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
unused ende */ 

.footer {        
    height: 50px;   
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#ffffff;
    background-color: #e8491d;    
    font-weight: 500;
    text-align: center;
}