<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet"
              type="text/css" />

        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/Fullcalendar/core/main.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/Fullcalendar/daygrid/main.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/Fullcalendar/timegrid/main.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/Fullcalendar/list/main.min.css}" rel="stylesheet" type="text/css" />

        <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />

        <script th:src="@{/js/echarts.min.js}"></script>

        <script th:src="@{/js/Fullcalendar/core/main.min.js}"></script>
        <script th:src="@{/js/Fullcalendar/daygrid/main.min.js}"></script>
        <script th:src="@{/js/Fullcalendar/timegrid/main.min.js}"></script>
        <script th:src="@{/js/Fullcalendar/list/main.min.js}"></script>
        <script th:src="@{/js/Fullcalendar/interaction/main.js}"></script>
        <script th:src="@{/js/Fullcalendar/moment/main.js}"></script>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

        <script th:src="@{/js/Fullcalendar/calendar.js}"></script>

    </head>
    <body>
        <header>
            <!-- <div id="branding">
                 <a class="navbar-brand" href="#"><img th:src="@{/images/Logo_klein.png}" width="100" height ="100" alt="logo" class="image-block"></a>
             </div> -->
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a th:href="@{/ausgabebmi}">Bmi-Ausgabe</a></li>
                    <li><a href="#bottom">Kontakt</a></li>
                </ul>
            </nav>
        </header>
        <br><br><br><br><br>

        <form th:action="@{/ausgabebmi}" method="POST"
              th:object="${item}">

            <div class="weight">
                <label class="col-lg-4 control-label">Größe</label>
                <label for="groesse"></label>
                <input th:name="groesse"
                       id="groesse"
                       type="text"
                       placeholder="Bitte die Größe in cm angeben (z.b. 177)"
                       class="form-control"
                       th:errorclass="is-invalid" />
                <div th:if="${#fields.hasErrors('groesse')}" th:errors="*{groesse}"></div>
            </div>

            <div class="weight">
                <label for="gewicht">Gewicht</label>
                <input th:name="gewicht"
                       type="text"
                       id="gewicht"
                       placeholder="Bitte das Gewicht in Kilogramm angeben (z.b. 80)"
                       class="form-control"
                       th:errorclass="is-invalid" />
                <div th:if="${#fields.hasErrors('gewicht')}" th:errors="*{gewicht}" class="invalid-feedback"></div>
            </div>

            <div class="mt-1 text-center">
                <button type="submit" class="btn btn-white">Berechne</button>
            </div>
        </form>
        <!--<p>
            <img th:src="@{/images/bmi-grafik.png}" alt="logo" th:class="bmi">
        </p> -->
        <div class="container">
            <div class="training-calendar row">
                <div id="workouts" class="col-2">
                    <p><strong>Workouts</strong></p>
                    <div class="workout-element">Brustraining</div>
                    <div class="workout-element">Bizeps</div>
                    <div class="workout-element">Trizeps</div>
                    <div class="workout-element">Bauch</div>
                    <div class="workout-element">Beine</div>
                    <div class="workout-element">Rücken</div>
                    <div class="workout-element">Cardio</div>
                </div>

                <div id="calendar" class="col-9">

                </div>
            </div>

            <div class="change-week-container row">
                <!--        <div>-->
                <button type="button" class="btn btn-light previous-week"><i class="fas fa-arrow-left"></i></button>
                <span class="displayed-week">Test</span>
                <button type="button" class="btn btn-light next-week"><i class="fas fa-arrow-right"></i></button>
                <!--        </div>-->
            </div>

            <div class="row">
                <div id="weeklyStats" class="col">

                </div>
            </div>
            <br>
            <!-- style="width:700px;height:410px; -->

            <div class="fitness-container" style="margin: auto">
                <div id="box1">
                    <a href="/images/Running.jpeg"><img th:src="@{/images/Running.jpeg}" width="100%" height="85%" alt="logo"
                                                        class="image-block"></a>
                    <p> Cardio </p>
                </div>

                <div id="box2">
                    <a href="/images/Bizeps.jpg"><img th:src="@{/images/Bizeps.jpg}" width="100%" height="85%" alt="logo"
                                                      class="image-block"></a>
                    <p> Bizeps & Trizeps </p>
                </div>

                <div id="box3">
                    <a href="/images/back.PNG"><img th:src="@{/images/back.PNG}" width="100%" height="85%" alt="logo"
                                                    class="image-block"></a>
                    <p> Rücken & Schultern</p>
                </div>

                <div id="box4">
                    <a href="/images/chest.png"><img th:src="@{/images/chest.png}" width="100%" height="85%" alt="logo"
                                                     class="image-block"></a>
                    <p> Brust </p>
                </div>

                <div id="box5">
                    <a href="/images/belly.jpg"><img th:src="@{/images/belly.jpg}" width="100%" height="85%" alt="logo"
                                                     class="image-block"></a>
                    <p> Bauch </p>
                </div>

                <div id="box6">
                    <a href="/images/legs.jpg"><img th:src="@{/images/legs.jpg}" width="100%" height="85%" alt="logo"
                                                    class="image-block"></a>
                    <p> Beine </p>
                </div>
            </div>


            <!-- Kontakt Sektion -->

            <div class="contact-info">
                <div class="contact-method">
                    <i class="card-icon far fa-envelope"></i>
                    <a href="mailto:dominique.mariacher@gmx.at">
                        <span>dominique.mariacher@gmx.at</span></a>
                </div>

                <div class="contact-method">
                    <i class="card-icon fas fa-phone"></i>
                    <span>+43 676 9207 220</span>
                </div>

                <div class="contact-method">
                    <a href="https://goo.gl/maps/p6qx4DSWuNRFD15KA">
                        <i class="card-icon fas fa-map-marker-alt"></i>
                        <span>Graz, Austria</span></a>
                </div>
            </div>
            <div id="bottom"></div>
            <!-- Kontakt Sektion Ende -->
            <br>
        </div>
        <!-- Footer -->
        <div class="footer">
            <p>Copyright &copy; Dominique Mariacher
                <script>new Date().getFullYear() > 2010 && document.write(+new Date().getFullYear());</script>
            </p>
        </div>
        <!-- Ende Footer -->
    </body>
</html>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create new event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="display:none;">
                    <label class="col-4" for="id">Id should be invisible</label>
                    <input type="text" name="id" id="id" />
                </div>
                <div class="row">
                    <label class="col-4" for="title">Event title</label>
                    <input type="text" name="title" id="title" />
                </div>
                <div class="row">
                    <label class="col-4 workouttype-header" for="workouttype">Workouttype</label>
                    <select name="workouttype" id="workouttype">
                        <option value="CHESTWORKOUT">Brustraining</option>
                        <option value="BICEPS">Bizeps</option>
                        <option value="TRICEPS">Trizeps</option>
                        <option value="BELLY">Bauch</option>
                        <option value="LEGS">Beine</option>
                        <option value="BACK">Rücken</option>
                        <option value="CARDIO">Cardio</option>
                        <option value="UNKNOWN">Unbekannt</option>
                    </select>
                </div>
                <div class="row">
                    <label class="col-4" for="starts-at">Start</label>
                    <input type="datetime-local" name="starts_at" id="starts-at" />
                </div>
                <div class="row">
                    <label class="col-4" for="ends-at">Ende</label>
                    <input type="datetime-local" name="ends_at" id="ends-at" />
                </div>
                <div class="row">
                    <label class="col-4" for="note">Notiz</label>
                    <input type="text" name="note" id="note" />
                </div>
                <div class="row">
                    <label class="col-4" for="color">Farbe</label>
                    <input type="color" name="color" id="color" value="#3788d8" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="delete-event" class="btn btn-danger" data-dismiss="modal">Löschen</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" id="save-event">Speichern</button>
            </div>
        </div>
    </div>
</div>
